generated
mermaid-filter.err
slides.pdf
slides.tex
slides.aux
slides.log
slides.nav
slides.snm
slides.toc
slides.vrb
slides.html
slides.vn.tex
slides.vn.aux
slides.vn.log
slides.vn.nav
slides.vn.pdf
slides.vn.snm
slides.vn.toc
slides.vn.vrb
slides.vn.html
template.fdb_latexmk
template.fls
template.log
template.aux
